<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDI_Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EDI_Utilities.Properties.Settings>
            <setting name="conversionDelimiter" serializeAs="String">
                <value />
            </setting>
            <setting name="conversionIdocFieldCol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="conversionIdocSegmentCol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="conversionX12Col" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="conversionSkipFirstX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="conversionDescriptionCol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="conversionHoldSegValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="conversionIntenseSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="explorerSmartMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="conversionDisjoint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fallbackSearchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </EDI_Utilities.Properties.Settings>
    </userSettings>
</configuration>